@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Pinyon+Script&family=Special+Elite&display=swap');
body {
    background: url("./images/main-image.jpg") no-repeat center center fixed;
    background-size: cover;
}

header, footer {
    background-color: #2D3439;
    color: #FF6333;
}

h1 {
    color: #8a2000;
    font-size: 24px;
    font-family: "Special Elite", "Helvetica";
}

p {
    color: #8a2000;
    font-size: 16px;
    font-family: 'JetBrains Mono';
}

a {
    color: #ff6333;
    font-family: "Special Elite", "Helvetica";
    font-size: 18px;
}

a:hover {
    color: #FFFFFF;
}

.navbar-brand {
    color: #FF6333;
    animation: pulse 4s linear;
    font-size: 28px;
    font-family: "Special Elite", "Helvetica";
}

.fa {
    font-size: 20px;
}

.navbar-toggler {
    color: #FF6333;
}

.row {
    /* background-color: #E6837D;
    border: 20px solid #FF6333;
    border-radius: 10px; */
    padding: 10px;
}

.col {
    /* background-color: #FF71A7;
    border: 2px solid#FF3C86; */
    color: #61666C;
}

#profile {
    margin-left: 100px;
    max-width: 1200px;
}

#headshot {
    float: left;
    max-width: 300px;
    border-radius: 50%;
    padding: 0px 20px 10px 0px;
}

.portfolio {
    background-color: #AAC0D5;
    max-width: 1200px;
    border: 3px solid #2D3439;
    border-radius: 20px;
}

.portfolio h1 {
    text-align: center;
    padding: 10px;
}

.d-block {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #2D3439;
    border-radius: 10px;
}

#contact {
    float: right;
    margin-right: 150px
}

.contact a {
    color: #8a2000;
    font-size: 24px;
    padding: 10px 20px;
}

@media (max-width: 630px) {
    .bio {
        padding: 15px;
        background-image: linear-gradient(to bottom, #526888, #EEDAB5);
        border: 1px solid #FFFF;
        border-radius: 10px;
        text-align: justify;
        margin: 0 auto 40px auto;
    }
    #profile {
        margin-left: 0;
    }
    #contact {
        float: clear;
        margin-right: 0;
    }
    #headshot {
        border-radius: 20px;
        max-width: 100%;
        padding: 10px;
    }
}

@keyframes pulse {
    0% {
        color: #2D3439;
    }
    100% {
        color: #FF6333;
    }
}